/**
 * Object / Utility / Tools
 *
 * ComponentとProjectレイヤーのObjectのモディファイアで解決することが難しい・適切では無いスタイルの調整
 */

/**
 * Margin
 */
// Bottom
.u-mb-8 { margin-bottom: 8px !important; }
.u-mb-16 { margin-bottom: 16px !important; }
.u-mb-24 { margin-bottom: 24px !important; }
.u-mb-32 { margin-bottom: 32px !important; } 
.u-mb-40 { margin-bottom: 40px !important; } 

/**
 * Padding
 */
// Top
.u-pt-0 { padding-top: 0 !important; }
.u-pt-8 { padding-top: 8px !important; }
.u-pt-16 { padding-top: 16px !important; }
.u-pt-24 { padding-top: 24px !important; }
.u-pt-32 { padding-top: 32px !important; }
.u-pt-40 { padding-top: 40px !important; }

// Bottom
.u-pb-0 { padding-bottom: 0 !important; }

/**
 * Text Align
 */
.u-ta-r { text-align: right !important; }
.u-ta-c { text-align: center !important; }